#wrapper {
    position: absolute;
    left: 35%;
    top: 30%;
    width: 500px;
    height: 500px;
    
}
#startBtn {
    background-color: orange;
    margin-left: 32%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
    
}

#startBtn:hover {
    background-color: #3e8e41;
    color: white;
  }
#questionsDiv {
    margin: 20px;
}
#currentTime {
    float: right;
    margin-right:20%;
}
button {
    border-radius: 8px;
}
h1, p, button{
    text-align: center;
}
a {
    margin-left: 20%;
}

li {
    background-color: purple;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}
#goBack {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}
#clear {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}
textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: purple;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}





 